# DataFrame

DataFrame类型由共用相同索引的一组列组成

| 索引    |    | 多列数据  |          |     |          |
| --      | -- | --       | --       | --  | --       |
|         |    | column_0 | column_1 |     | column_i |
| index_0 | -> | data_a   | data_1   | ... | data_w   |
| index_1 | -> | data_b   | data_2   | ... | data_x   |
| index_2 | -> | data_d   | data_3   | ... | data_y   |
| index_3 | -> | data_c   | data_4   | ... | data_z   |

column 列

特点
- 一个表格型的数据类型，每列值类型可以不同
- 既有行索引、也有列索引
- 常用于表达二维数据，但可以表达多维数据

## 创建

- 二维ndarray对象
- 由一维ndarray、列表、字典、元组或Series构成的字典
    - 字典 Key 为 列索引
    - 缺省元素， NaN补齐
- Series类型
- 其他的DataFrame类型

In [5]:
import pandas as pd
import numpy as np

print("↓ 自动行索引")
print("   ↓ 自动列索引")
pd.DataFrame(np.arange(15).reshape(3,5)) # ndarray

↓ 自动行索引
   ↓ 自动列索引

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [10]:
pd.DataFrame({
    "first" : pd.Series((1, 2, 3), ('a', 'b', 'c')),
    "second" : pd.Series((9, 7, 6), ('a', 'c', 'd'))
})

   first  second
a    1.0     9.0
b    2.0     NaN
c    3.0     7.0
d    NaN     6.0

In [6]:
pd.DataFrame(
    {
        'first' : [1, 2, 3, 4], # 字典 Key 为 列索引
        'second' : [5, 6, 7, 8]
    },
    ('a', 'b', 'c', 'd')
)

   first  second
a      1       5
b      2       6
c      3       7
d      4       8

In [11]:
pd.DataFrame({
    "城市" : ["北京", "上海", "广州", "深圳", "沈阳"],
    "环比" : [101.5, 101.2, 101.3, 102.0, 100.1],
    "同比" : [120.7, 127.3, 119.4, 140.9, 101.4],
    "定基" : [121.4, 127.8, 120.0, 145.5, 101.6]
})

   城市     环比     同比     定基
0  北京  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
2  广州  101.3  119.4  120.0
3  深圳  102.0  140.9  145.5
4  沈阳  100.1  101.4  101.6

In [13]:
d = pd.read_csv("assets/2016年7月部分大中城市新建住宅价格指数.csv")
d

   城市     环比     同比     定基
0  北京  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
2  广州  101.3  119.4  120.0
3  深圳  102.0  140.9  145.5
4  沈阳  100.1  101.4  101.6

In [14]:
d.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
d.columns

Index(['城市', '环比', '同比', '定基'], dtype='object')

In [16]:
d.values

array([['北京', 101.5, 120.7, 121.4],
       ['上海', 101.2, 127.3, 127.8],
       ['广州', 101.3, 119.4, 120.0],
       ['深圳', 102.0, 140.9, 145.5],
       ['沈阳', 100.1, 101.4, 101.6]], dtype=object)

In [18]:
# d[0] # 报错
d["城市"]

0    北京
1    上海
2    广州
3    深圳
4    沈阳
Name: 城市, dtype: object

In [23]:
d.loc[2]

城市       广州
环比    101.3
同比    119.4
定基    120.0
Name: 2, dtype: object

In [24]:
d["城市"][2] # 列 行

'广州'